/*
!/components
!/lib
!/pages
!/public
!/service
!/static
!/stores
!/styles
!/utils
!/.env.local
!/.env.development
!/.env.production
!/next.config.js
!/package.json
!/postcss.config.js
!/README.md
!/tailwind.config.js
!/.gitignore
!/yarn.lock