/*
!/components
!/lib
!/pages
!/public
!/service
!/static
!/stores
!/styles
!/utils
!/.env.local
!/.env.development
!/.env.production
!/next.config.js
!/package.json
!/postcss.config.js
!/README.md
!/tailwind.config.js
!/.gitignore
!/yarn.lock
!/webpack.config.js

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
.vercel
.env*.local
